/* Footer container */
.footer {
    background-color: #C9C9C9;;
    color: black;
    padding: 40px;
    text-align: center;
    font-size: 16px;
    column-gap: 20px;
}

/* Footer columns */
.footer-columns {
    display: flex;
    justify-content:center;
    align-items: center;
    text-align: left;
    gap: 40px;
    column-gap: 40px;
}

/* Column style */
.footer-column {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.footer-column2 {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    align-items: left;
    justify-content: center;
    text-align: left;
}

.footer-column3 {
    display: flex;
    flex-direction: column;
    margin: 15px;
    margin-left: 40px;
    margin-right: 40px;
    align-items: left;
    justify-content: center;
    text-align: left;
    font-size: small;
}

/* Bold text style */
.bold-text {
    font-weight: bold;
}


/* Divider style */
.divider {
    width: 1px;
    height: 170px;
    background-color: #6e6d6ddd;
    margin: 0px 20px 0px 20px;
}

/* Logo style */
.logo {
    margin-left: 25px;
    width: 140px;
    height: auto;
    padding: 10px;
}